     * {
        	margin: 0;
        	padding: 0;
        }
        body{
            background: url(../img/back.jpg);
            background-size: 100%;
            height: auto;
        }
        .imgback{
            background: rgba(1, 1, 1, 0.5);

        }
        

        .slabtext{

        padding: 15px 10px;
        display: inline-block;
        width: auto;
        margin-left: -10px;
        color: white;
        }

        .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px; 
    border: 1px solid transparent;
}

        /*#maindiv{
            width: 100%;
            height: 100%;
            margin-top:10%;
           
        }*/
        
    .buydiv, .selldiv{ 
    width: 500px;
    height: 500px;
    border-radius: 50%;
    
    margin-top: 15%;
    margin-bottom: 20%;
    margin-left: 10%;
    background: rgba(0, 0, 0, 0.81);
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.24);
    overflow: hidden;
}



        #heading{
        margin-top: 10px;
        margin-left:40%;
        color: #c0c0c0;
        }

#bg{

background-image: url("img/back.jpg");
}




.slider3 figure{
    width: 100%;
    position: relative;
    margin:0;
    padding: 0;
    animation: 10s slide infinite;
    -webkit-animation: 10s slide infinite;
}

@-webkit-keyframes slide {
    0% { left:0%; }
    16% { left:0%; }
    33% { left:-100%; }
    49% { left:-100%; }
    66% { left:-200%; }
    82% { left:-200%; }
    100% { left:-300%; }
}
