@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Source-Sans-Pro/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Source-Sans-Pro/SourceSansPro-Bold.ttf');
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.7em;
	margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.btn {
	border-radius: 0;
	transition: background-color 0.5s, border 0.5s;
	margin-top: 5px;
}

.form-control {
	border-radius: 0;
	transition: font-size 0.5s, height 0.5s;
	color: #337ab7;
	height: 35px;
	font-weight: 700;
	margin-top: 5px;
}

.form-control:focus {
	font-size: 1.05em;
	height: 40px;
}